{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>Azul: suite de tp2 {##}{ ## controller_name }}! symfony ✅</h1>
<p>
    Pour cette première version de site, le client nous demande d'afficher 3 teasers de thèses.
    Après discussions, cette structure se retrouvera probablement dans d’autres pages du site.
    Je te demande donc de créer un template 'these' qui ne contient que la structure d'une thèse
    générique et qu'on pourra inclure facilement autant de fois qu'on veut partout dans le site
</p>

<h1>Liste des articles de mon super blog</h1>

    {{include('teaser/index.html.twig',{title:'le changement climatique', description:'problematique', email: 'nabil@gmail.com'}) }}
    {{include('teaser/index.html.twig',{title:'gaz à effet de serre ', description:'impact des transport sur ...', email: 'bb@yahoo.fr'}) }}
    {{include('teaser/index.html.twig',{title:'la congestion ', description:'remedier au flux de transport' , email: 'aaa@live.fr'}) }}

{% endblock %}
